<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>采集</title>
</head>
<body>
	<p><a href="__CONTROLLER__/collect/type/part" target="_blank">采集部位</a></p><br />
	<p><a href="__CONTROLLER__/collect/type/departments" target="_blank">采集科室</a></p><br />
	<hr>
	<p><a href="__MODULE__/Inspect" target="_blank">采集检查</a></p><br />
	<p><a href="__MODULE__/Symptom/index/check/1" target="_blank">采集症状</a></p><br />
	<hr>
	<p><a href="__MODULE__/Disease/collect_by_part" target="_blank">按部位采集疾病</a></p>
	<p><a href="__MODULE__/Disease/collect_by_letter" target="_blank">按字母采集疾病</a></p>
</body>
</html>